.field.form-group
  = label_tag("Classe")
  %br/
  %input{ :name => 'school_class_new_class', :autofocus => true, autocomplete: "classe", :class => "form-control", :required => "", :maxlength => "30" }
.field.form-group
  = label_tag("Scuola")
  %br/
  %input{ :name => 'school_class_new_school', :autofocus => true, autocomplete: "scuola", :class => "form-control", :required => "", :maxlength => "30" }
