%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
  %body
  #main-container
    .nav.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          = image_tag("HiSchoolLogo.png")
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{:href => "users/sign_in"}
              %button#login-btn.btn.btn-lg.btn-success.navbar-btn Login
          %li
            %a{:href => "users/sign_up"}
              %button.btn.btn-lg.btn-success.navbar-btn Sign Up
    .container-fluid
      .row
        .col-xs-12.col-md-4.center-block
        .col-xs-12.col-md-4.center-block
          %h2 Home page. Work in progress!
        .col-xs-12.col-md-4.center-block
    .nav.navbar-default.navbar-fixed-bottom
      .container
        //%button.btn.btn-lg.btn-success.navbar-btn.navbar-rigth{:href => "#"} Contact Us
























